*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}


body{
  height: 100%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
}

img{
  height: 20px;
}

header{
  display: flex;
  background-color: moccasin;
  height: 80px;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 2px 
}

.word-margaret{
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black
}

.word-mosunmola{
 font-weight: bold; 
}


.word-college-of-health{
  font-weight: bold; 
 }

.header-icons{
  display: flex;
  flex-grow: 1;
  align-items: center;
  place-content: end;
  height: 50px;
  max-width: 140px;
  background-color: red;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: auto;
  box-shadow: 0px 0px 2px;
}
.school-icon-container{
  width: 150px;
  place-items: center;
  display: grid;
}

.school-programs-icon-container, .search-icon{
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 60px;
  align-items: center;
  place-content: center;
  font-size: 1.02em;
  overflow: hidden;

}

nav{
  position: absolute;
  background-color: red;
  width: 0;
  height: 400px;
  scale: 1;
  display: grid;
  padding-block: 10px;
  place-items: center;
  z-index: 1;
  box-shadow:  0px 0px 1000px;
  overflow: hidden;
  transition: width .5s ease-in-out;
}

nav[close]{
 width: 100%;
}

.scale-down{
  scale: 0;
}

.close-button{
  width: 30px;
  height: 30px;
  background-color: coral;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 2px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 12px;
  right: 36px;
}

.search-division{
  display: flex;
  width: 95%;
  border-bottom: 2px solid gray;
  margin-inline: auto;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform .3s ease-in-out, margin .3s ease-in-out
}

.search-query{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin-inline: auto;
  margin-block: 10px;
  padding-inline: 10px;
  outline: none;
  box-shadow: 0px 0px 1px;
}


.search-button{
  background-color: green;
  margin-inline: auto;
  border: none;
  border-radius: 40px;
  color: white;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 5px black;
}


.scroll-items{
  position: relative;
  display: flex;
  overflow: scroll;
  width: 400px;
  padding-block: 10px;
  gap: 20px;
  scroll-behavior: smooth;
  height: 800px;
}

.scroll-items > li {
  display: grid;
  min-width: 370px;
  margin-inline: 15px;
  height: 200px;
  background-color: moccasin;
  border-radius: 20px;
  place-content: center;
  box-shadow:  0px 0px 5px;
}

.scroll-keys{
  position: fixed;
  justify-content: space-between;
  display: flex;
  width: 380px;
  top: 200px;
  right: 5px;
  user-select: none;
  transition: top .4s 
 
}


.scroll-keys > button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: transparent;
  margin-inline: 20px;
  margin-block: 10px;
  box-shadow:  0px 0px 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.317);
  backdrop-filter: blur(40%);
}


